<div class="wrapper">
    <div class="header"><h2 class="title">Promotion</h2> <a
            routerLink="/admin/promotion/add"><button
                class="btn btn-primary">Add New</button></a></div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody *ngIf="promotions">
                <tr *ngFor="let item of promotions,let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.name}}</td>

                    <td [width]="150"><button (click)="handleRemove(item._id)"
                            class="btn btn-danger me-3"><fa-icon
                                [icon]='faTrash'></fa-icon></button><a
                            [routerLink]="['/admin/promotion/edit/',item._id]"><button
                                class="btn btn-success"><fa-icon
                                    [icon]='faPenToSquare'></fa-icon></button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
