<div class="wrapper">
    <h1 class="title">Edit Products</h1>
    <div class="container">
        <form [formGroup]="formValue" (submit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Image Sticker </label>
                <input formControlName="sticker" name="sticker" type="text"
                    class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Name Product</label>
                <input formControlName="name" name="name" type="text"
                    class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Price New Product</label>
                <input formControlName="priceNew" name="priceNew" value="0"
                    min="0" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Price Old Product</label>
                <input formControlName="priceOld" name="priceOld" value="0"
                    min="0" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Image Product </label>
                <input formControlName="image" name="image" type="text"
                    class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Danh mục</label>
                <select formControlName="categoryId" name="category"
                    class="form-select" aria-label="Default select example">
                    <option *ngFor="let item of category" [value]="item._id">{{item.name}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Promotion</label>
                <ng-select class="form-select" [multiple]="true"
                    formControlName="promotionId" name="selectPromotion">
                    <ng-option class="ng-option" *ngFor="let item of promotions"
                        [value]="item._id">{{item.name}}</ng-option>
                </ng-select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
