<div class="wrapper">
    <div class="header"><h2 class="title">Products</h2><a
            routerLink="/admin/products/add"> <button
                class="btn btn-primary">Add New</button></a></div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sticker</th>
                    <th scope="col">Name</th>
                    <th scope="col" [width]="150">Price New</th>
                    <th scope="col" [width]="150">Price Old</th>
                    <th scope="col">Image</th>

                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products,let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td><img width="50px" src={{item.sticker}} alt></td>
                    <td>{{item.name}}</td>
                    <td>{{item.priceNew | number}} đ</td>
                    <td>{{item.priceOld | number}} đ</td>
                    <td><img width="70px" src={{item.image}} alt></td>
                    <td [width]="150"><button (click)="handleRemove(item._id)"
                            class="btn btn-danger me-3"><fa-icon
                                [icon]='faTrash'></fa-icon></button><a
                            [routerLink]="['/admin/products/edit/',item._id]"><button
                                class="btn btn-success"><fa-icon
                                    [icon]='faPenToSquare'></fa-icon></button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
