<app-top-navigate></app-top-navigate>
<div class="wrapper">
    <div class="back">
        <a routerLink="/"><span><fa-icon [icon]="faChevronLeft"></fa-icon></span>
            Quay lại</a>
    </div>
    <div *ngIf="itemList &&itemList.length <= 0" class="no-cart">
        <img src="../../../assets/images/no-item.png" alt>
        <h4>Hiện chưa có sản phẩm nào trong giỏ hàng</h4>
    </div>
    <div *ngIf=" itemList && itemList.length > 0" class="cart-layout">
        <div class="cart-info">
            <div class="cart-icon">
                <fa-icon [icon]="faCircleCheck"></fa-icon>
                <span>Giỏ hàng</span>
            </div>
            <div class="cart-items">
                <div class="item" *ngFor="let item of itemList, let i = index">
                    <p (click)="onRemoveCart(item._id)" class="remove-item"><fa-icon
                            [icon]="faXmark"></fa-icon></p>
                    <div class="item-img">
                        <img src={{item.productId.image}} alt>
                        <h4>{{item.productId.name}}</h4>
                        <h6>{{item.productId.priceNew | number}}₫ <del>{{item.productId.priceOld
                                | number}}₫</del></h6>
                        <span>số lượng</span>
                        <input value={{item.quantity}}
                            min="0" type="number">
                    </div>

                    <ul class="item-info">
                        <li
                            *ngFor="let promotionItem of promotions">
                            <div
                                *ngIf="promotions && item.productId.promotionId.includes(promotionItem._id)"><span>KM1</span>
                                <p>{{promotionItem.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart-tatol">
                <h2>Tổng giá trị: {{total | number}} ₫</h2>
                <h2>Giảm giá: 0 ₫</h2>
                <h2>Tổng thanh toán: <span>{{total | number}} ₫</span></h2>
            </div>
        </div>
        <div class="cart-form">
            <h2 class="title">Thông tin đặt hàng</h2>
            <p class="warning">Bạn cần nhập đầy đủ các trường thông tin có dấu *
            </p>
            <form action>
                <div class="form-control">
                    <input type="text" placeholder="Họ và tên *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Số điện thoại *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Email *">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Địa chỉ nhận hàng *">
                </div>
                <button class="btn">Xác nhận và đặt hàng</button>
            </form>
        </div>
    </div>
</div>