<div class="top-navigate">
    <ul>
        <li><a href>Bản mobile</a></li>
        <li><a href>Giới thiệu</a></li>
        <li><a href>Sản phẩm đã xem</a></li>
        <li><a href>Trung tâm bảo hành</a></li>
        <li><a href>Hệ thống 126 siêu thị</a></li>
        <li><a href>Tuyển dụng</a></li>
        <li><a href>Tra cứu đơn hàng</a></li>
        <li *ngIf="user" (click)="onLogout()"><a href="/">Đăng xuất</a></li>
        <li *ngIf="user"><a class="user"> <fa-icon [icon]="faUser"></fa-icon><span>{{user.user.name}}</span></a></li>
        <li *ngIf="!user"><a routerLink="/signin">Đăng nhập</a></li>
    </ul>
</div>