<div class="wrapper">
    <div class="header"><h2 class="title">User</h2></div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>

                    <td [width]="150"><button class="btn btn-danger me-3"><fa-icon
                                [icon]='faTrash'></fa-icon></button><a
                            [routerLink]><button class="btn btn-success"><fa-icon
                                    [icon]='faPenToSquare'></fa-icon></button></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td [width]="150"><button class="btn btn-danger me-3"><fa-icon
                                [icon]='faTrash'></fa-icon></button><a
                            [routerLink]><button class="btn btn-success"><fa-icon
                                    [icon]='faPenToSquare'></fa-icon></button></a></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
